<h2>
  My Bids
</h2>

<% if @bids.empty? %>
  <p>You don't got no bids, Cowboy 🤠</p>
<% else %>
  <table class="table bg-white table-bordered mt-3">
    <thead>
      <tr><th>Item</th>
      <th>Bid time</th>
      <th>Bid Amount</th>
      <th>Winning?</th>
    </tr></thead>
    <tbody>
      <% @bids.each do |bid| %>
      <tr>
        <td><%= link_to bid.listing.title, listing_path(bid.listing) %></td>
        <td><%= bid.created_at.to_s :short %></td>
        <td><%= number_to_currency bid.amount %></td>
        <td>
          <% if bid.winning? %>
            ✅
          <% else %>
            😰
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>