<div id="clearance" class="sign-up">
  <div class="login_header">
    <%= image_tag("freeBay-logo.svg", alt: "Welcome to FreeBay!") %>
    <h2>Sign up to FreeBay…</h2>
  </div>

  <%= render partial: '/users/form' %>
</div>
