<div id="clearance" class="sessions">
  <%= image_tag("freeBay-logo-withtags.svg", alt: "Welcome to FreeBay!", class: "img-fluid") %>
  <h3 class="header mb-4">Sign up to FreeBay</h3>

  <%= render partial: '/users/form' %>
</div>
