<h1 class="ui header">
  Auctions
</h1>

<% if @listings.empty? %>
  <p>No auctions!</p>
<% else %>
  <div class="ui list">
  <% @listings.each do |auction| %>
    <div class="item"><%= @listing.description %></div>
  <% end %>
  </div>
<% end %>