<h1 class="ui header">
  💰 Auction Central
</h1>

<p>
  We have <%= pluralize @listings.size, "item" %> in our sale! We have a large selection of
  iMacs (both 27" and 21" flavour), Apple laptops (MacBook Air and MacBook Pro) and
  monitors, with a few iOS devices thrown in for good measure.
</p>
<p>
  You can browse all the items below and click the cards to view further details. You can bid
  as many times as you like on an item. Highest bidder wins at the end of the auction. We will
  probably close the auction before the end time to prevent an unfair, last-minute surge.
</p>
<p>
  Happy bidding! 🤑
</p>

<%= select_tag "Category",
      options_for_select(["all"] + Listing::CATEGORIES, params[:category]),
      {id: "category_select", class: "ui selection dropdown"}
%>

<%= select_tag "Condition",
      options_for_select(["all"] + Listing::CONDITION, params[:condition]),
      {id: "condition_select", class: "ui selection dropdown"}
%>

<div class="ui hidden divider"></div>

<% if @listings.empty? %>
  <p>There are no auctions.</p>
<% else %>
  <%= render 'listings' %>
<% end %>
