<h1 class="ui header">
  Auctions
</h1>

<% if @listings.empty? %>
  <p>There are literally no auctions! It's time to add some.</p>
<% else %>
  <p>
    Here are your listings!
  </p>
  <%= render 'listings' %>
<% end %>
