<h1 class="ui header">
  💰 Auction Central
</h1>

<p>
 We have <%= pluralize @listings.size, "item" %> in our sale! We have a large selection of
MacBook Air and Pro laptops, with a few iOS devices thrown in for good measure.
</p>

<p>
  You can browse all the items below and click the cards to view further details. You can bid
  as many times as you like on an item. Highest bidder wins at the end of the auction, at which
  point IT and Finance will approach you in order to take payment.
</p>

<p>
  All devices come with a charger, unless stated otherwise.
</p>

<p>
  Happy bidding! 🤑
</p>

<%= select_tag "Category",
      options_for_select(categories_options_for_select, params[:category]),
      {id: "category_select", class: "ui selection dropdown"}
%>

<%= select_tag "Condition",
      options_for_select(conditon_options_for_select, params[:condition]),
      {id: "condition_select", class: "ui selection dropdown"}
%>

<div class="ui hidden divider"></div>

<% if @listings.empty? %>
  <p>There are no auctions. Come back soon!</p>
<% else %>
  <%= render 'listings' %>
<% end %>
